<div>
  <%= form_tag "/short_urls" do %>
    <div>
      <%= text_field_tag :url %>
    </div>
    <%= fields_for :short_url do |f| %>
      <div>
        <%= f.label :alias, 'Enter alias' %>
        <%= f.text_field :alias %>
      </div>
    <% end %>
    <div>
      <%= submit_tag 'Shorten Url' %>
    </div>
  <% end %>
</div>